body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



/* NavBar CSS */



.email-input{
	font-size: 0.75rem;
	
}

.password-input{
	font-size: .75rem;
}

.navbar {
	min-height:3em;
	position: fixed;
    width: 100%;
    top: 0;
}

.navbar-left{



}

/* ///////////////////////////////////////////////////////////////////////////////////////////////    */

/* Home CSS */

.bot-section{

}

.check-in-icon{

	font-size: 1em;
	background-color:white;
	border:none;
	padding-left:1.5em;

}

.check-in-input{
	font-size:1.3em;
	font-weight: 200;
    border:none;
    padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-right:1.5em;
	padding-left:0.5em;
	border-radius:0.0001em;


}
.check-in-input:focus{
  border-color: #ced4da;
  box-shadow: none;

}

.check-out-icon{

	font-size: 1em;
	background-color:white;
	border:none;
    padding-left:1.5em;
    	border-radius:0.0001em;



}

.check-out-input{
	font-size:1.3em;
	font-weight: 200;
    border:none;
    padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-right:1.5em;
	padding-left:1.5em;
	border:none;
		border-radius:0.0001em;

}

.check-out-input:focus{
  border-color: #ced4da;
  box-shadow: none;

}

.guest-dropdown{
	font-size:1.4em;
	font-weight: 200;
    border:none;
	padding-bottom: 1.5em;
	border-radius:0.0001em;

	
}

.home-container{
	padding:0;
	margin:0;
}

.home-image{
	min-height:30em;
	min-width:77em;
	max-height:50em;
	max-width:87em;
	
}

.input-group{
	padding-top: 0.3em;
	padding-bottom: 0.3em;

}

.location-input-icon{
	font-size: 1em;
	background-color:white;
	border:none;
		border-radius:0.0001em;

}

.location-input{
	font-size:1.3em;
	font-weight: 200;
    border:none;
    padding-top: 1.5em;
	padding-bottom: 1.5em;
	border-radius:0.0001em;




	
}

.location-input:focus{
  border-color: #ced4da;
  box-shadow: none;

}

.mid-section{

}

.submit-button{

	padding-left:1em;
	padding-right:1em;
	font-size:1.3em;
}


.top-section{
	
	background-image:url("/client/src/Home/Images/homeImage1.jpg");
	padding:0;
	margin:0;
	padding-bottom: 5rem;
	position:relative;
	width: 1200px;
  height:600px;


}

.top-header{

	font-size: 3.5rem;
	color:white;
	font-family: mallory,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
	line-height:1.42857;
	letter-spacing:0;

}

/* ///////////////////////////////////////////////////////////////////////////////////////////////    */

/* HotelSearch CSS */


 .hotel-demo-dummy-column{
 	padding-left:0px;
 	padding-right:0px;
 }

 .hotel-search-columns{
 	padding: 0px 0px 0px 0px;
 	width:100%;
 	height:100%;
 	margin-right: 0px;
 	margin-left:0px;

 }
 .hotel-search-container{
 	margin-top:4.5em;
 	width:100%;
 	height:100%;
 }

 .hotel-search-item-row{
 	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align:center;

 }

 .hotel-search-item-button{
 	padding-left: 1em;
    padding-right: 1em;
    font-size: 1.3em;
 	color: #fff;
    background-color: #54B2E8;
    border-color: #54B2E8;
 }

 .hotel-search-item-header{
 	font-size: 1.3em;
 }

 .hotel-search-item-name{

 }

 .hotel-search-item-number{

 }

 .hotel-search-item-min-price{
 	color:#d32f2f;
 	font-size: 1.9em;
 }

 .hotel-search-item-rating{
 	padding-top:0.3em;
 	padding-bottom:0.3em;
 }

 .hotel-search-item-rating-checked{
 	color: #FEA642;
 }

 .hotel-search-first-column{
 	padding-right:0px;
 	min-width:12em;
 	width:100%;
 	height:100%;
 	background-color: #FCFDFE;

 }

 .hotel-search-first-column-dummy{
 	padding-right:0px;
 	width:100%;
 	height:100%;
 	background-color: #FCFDFE;
 	padding-left:0px;

 }

 .hotel-search-first-column-demo{
  background-color: white;
  padding-top:2em;
  padding-left:2em;
  padding-right:2em;
  font-size:2em;


    min-height:38em;
  max-height:38em;

 }

 .hotel-search-filter{

 }



 .hotel-search-row{

 }

 .hotel-search-row-image{
 	max-width:10em;
 	max-height:10em;
 	
 }

 .hotel-search-second-column{

 	min-height:39em;
 	max-height:38.9em;
 	height:100%;
 	width:100%;
 	padding-right: 0px;
 	padding-left:0px;
 }

 .hotel-search-table{
 	width:100%;
 	height:100%;
 	padding-left:1em;
 	padding-right:1em;
 	border-spacing: 0 10px;
 	padding-top:10px;
    border-collapse: separate;
    table-layout:fixed;

 }

 .hotel-search-table th{
    border: 0px solid #000;
  	width:50%;
  	padding-top:2rem;
  	padding-bottom: 2rem;
  	vertical-align: middle;
 }

  .hotel-search-table td {
  	padding-top:2rem;
  	padding-bottom: 2rem;
    border-top: 0px solid #000;
    width:100%;

}

.hotel-search-table-demo{
 	width:100%;
 	height:100%;
 	padding-left:1em;
 	padding-right:1em;
 	border-spacing: 0 10px;
 	padding-top:10px;
    border-collapse: separate;
    table-layout:fixed;

 }

 .hotel-search-table-demo th{
    border: 0px solid #000;
  	width:50%;
  	padding-top:2rem;
  	padding-bottom: 2rem;
  	vertical-align: middle;
 }

  .hotel-search-table-demo td {
  	padding-top:2rem;
  	padding-bottom: 2rem;
    border-top: 0px solid #000;
    width:100%;

}

  .hotel-search-table-container{
  	height:100%;
  	width:100%;
  	overflow-y: scroll;
  	overflow-x:hidden;
  	min-height:38em;
 	max-height:38em;
 	padding-right:10px;
  }

  .hotel-search-table-container-demo{
  	height:100%;
  	width:100%;
 	background-color: #FCFDFE;

  	min-height:38em;
 	max-height:38em;
 	padding-right:0px;
 	padding-left:0px;
  }

 