body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-link {
  background-color:white;
  color:black;
}


/* NavBar CSS */

.dark-tint {
  height:100%;
  width:100%;
  background: rgba(0,0,0,0.3);
}

.email-icon {
  font-size: 0.75rem;
  background:none;
  border:none;
  color:white;
  cursor:none;
  
}

.imageLogo {
  height:3vh;
  width:2vw;
  margin-right:0.5vw;
}

.password-icon {
  font-size: .75rem;
  background:none;
  border:none;
  color:white;
  cursor:none;

}

.navbar-home {
  min-height:3em;
  position: fixed;
  width: 100%;
  top: 0;
  color:white;
  background:transparent;

}



.navbar-pages {
  min-height:5vh;
  width: 100%;
  top: 0;
  color:black;
  background:white;

}

.navbar-pages div{
  
  color:black;

}

.navbar-page-room {
  min-height:3em;
  width: 100%;
  top: 0;
  color:black;
  background:white;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);



}

.navbar-page-room div{
  
  color:black;

}

.navbar{
  padding-left:6vw;
}

.navbar-register-button Button{
  background: transparent;
  border:none;
  color:black;
}


.navbar div div {
      cursor: pointer;

}


.navbar-register-button {
  color:white;
}

.navbar-register-button-black {
  color:black;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////    */

/* Home CSS */

.check-in-icon {

  font-size: 1em;
  background-color:white;
  border:none;
  padding-left:1em;

}

.check-in-input {
  font-size:1.3em;
  font-weight: 200;
    border:none;
    padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-right:1.5em;
  padding-left:0.5em;
  border-radius:0.0001em;


}
.check-in-input:focus{
  border-color: #ced4da;
  box-shadow: none;

}

.check-out-icon{

  font-size: 1em;
  background-color:white;
  border:none;
    padding-left:1.5em;
      border-radius:0.0001em;



}

.check-out-input{
  font-size:1.3em;
  font-weight: 200;
    border:none;
    padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-right:1.5em;
  padding-left:1.5em;
  border:none;
    border-radius:0.0001em;

}

.check-out-input:focus{
  border-color: #ced4da;
  box-shadow: none;

}

.guest-dropdown{
  border-radius: 10px;
  font-size:1.4em;
  font-weight: 200;
    border:none;
  padding-bottom: 1.5em;
  border-radius:0.0001em;

  
}

.home-adults-container{
  padding-top:2em;
  font-size: .65em;
}

.home-adults{
  font-size:1em;
  font-weight: 500;
    font-family: mallory,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.home-checkboxes{
  border-radius: 10px;
  margin-top:5vh;
  margin-left:10vw;
  margin-right:10vw;
  background:white;
  text-align:center;
}

.home-checkboxes div{
  padding:2em 1em 2em 1em;

}


.home-children-container{
  padding-top:1em;
  font-size:.65em;
}

.home-children{
  font-size:1em;
  font-weight: 500;
    font-family: mallory,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.home-container{
  padding:0;
  margin:0;
  height:100%;
  width:100%;
}

.home-date{
  padding-left:0;
  padding-right:0;

}



.home-form{
  padding-top: 5rem;
}

.home-form-container{
  height:100%;
  width:100%;
  background: rgba(0,0,0,0.3);
}

.home-form-inputs{
  padding-top:1em;


}

.home-guest-dropdown{
    text-align: center;
    height: 67px;
  padding: 11px 11px 11px 11px;
  font-size: 1.6em;
  text-decoration: none;
  font-weight: bold;
  display: block;

    color:grey;

    font-weight: 300;
    font-family: Helvetica,Arial,sans-serif;
    cursor: pointer;

}

.hotelsearch-dropdown{
  text-align: center;
  height: 45px;
padding: 11px 11px 11px 11px;
font-size: 1.6em;
text-decoration: none;
font-weight: bold;
display: block;

  color:grey;

  font-weight: 300;
  font-family: Helvetica,Arial,sans-serif;
  cursor: pointer;

}

.hotelsearch-dropdown-list-style{
  list-style: none;
  font-size: 1.8em;
  padding-left: 0;

}

.home-guest-dropdown-filled{
    text-align: center;
  padding: 11px 11px 11px 11px;
  font-size: 1.6em;
  text-decoration: none;
  font-weight: bold;
  display: block;

    font-weight: 300;
    font-family: Helvetica,Arial,sans-serif;
    cursor: pointer;

}

.home-guest-dropdown-list-style{
    list-style: none;
    padding-left: 0;

}


.home-guest-icon-increment{
  padding: 1em 1em 1em 1em;
  background-color:white;

}

.home-guest-icon-decrement{
    padding: 1em 1em 1em 1em;


}

.home-guest-input{
  -webkit-appearance: textfield;
    background-color: none;
    -webkit-rtl-ordering: logical;
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    font-size:2em;
    width:4em;
    text-align:center;
}

.home-increments{
  font-size:0.5em;

}

.home-map{

}

.home-map-container{
  height:3em;
  padding-bottom:20em;
}

.home-featured-hotels{
  min-height:30vh;
}



.home-submit-button-container{
  padding-top:1em;
  margin-bottom:10px;

}

.home-submit-button{
    color: #fff;
    background-color: #fb0a0a;
    border-color: #f40404;
    font-size: 14px;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom:0px;
}


.home-image{
  min-height:30em;
  min-width:77em;
  max-height:50em;
  max-width:87em;
  
}



.location-input-icon{
  font-size: 1em;
  background-color:white;
  border:none;
    border-radius:0.0001em;

}

.location-input{
  font-size:1.3em;
  font-weight: 200;
      padding-top: 1.4em;
  padding-bottom: 1.4em;

  color:black;
}

.check-wrap{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding-top:1vh;
    padding-bottom:1vh;
}

.location-input:focus{
  border-color: #ced4da;
  box-shadow: none;

}

.mid-section{

}

.submit-button{

  font-size: 1.8em;
}


.top-section{
  
  background-image:url("/client/src/Home/Images/homeImage1.jpg");
  padding:0;
  margin:0;
  padding-bottom: 5rem;
  position:relative;
  width: 1200px;
  height:600px;


}

.top-header{

  font-size: 3.5rem;
  color:white;
  font-family: mallory,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  line-height:1.42857;
  letter-spacing:0;
  padding-bottom:0.3em;
  text-align:left;


}

.subheading-sm{
      margin-bottom: 30px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: relative;
    display: inline-block;
    font-weight: 300;
}

.subheading-sm:after{
      width: 80px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 120%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
}

.input-labels{
    color: black;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: relative;
    display: inline-block;
    font-weight: 300;
}

.input-labels-guide{
  color: darkcyan;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .1em;
  position: relative;
  display: inline-block;
  font-weight: 100;
  margin-left: 4px;
}

.block-32 {
  margin-left: 15px;
  font-size:16px;
  text-align:left;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1); }
  .block-32 .field-icon-wrap {
    position: relative; }
    .block-32 .field-icon-wrap .form-control {
      height: 66px !important;
      position: relative;
      padding-right: 40px;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      color: #a6a6a6; }
    .block-32 .field-icon-wrap .icon {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 15px;
      z-index: 2; }
    .block-32 .field-icon-wrap select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%; }
  .block-32 .btn {
    height: 66px;
    color: #fff; }

/* ////////////HOME GUEST DROPDOWN//////////////////////////////////////////////////////////////////////////////    */

.menu-container {
  background-color:white;
  padding-left:0px;
  padding-right:0px;


}

.menu-box{
      background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

}

.menu-box-2{
      background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
        padding-bottom:1.5vh;

}

.menu-item {
  width: 100%;
    position: relative;

  
}

.menu-item {
  width: 100%;
    position: relative;

  
}

.menu-item a {
  text-align: center;
  padding: 10px 10px 10px 10px;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  display: block;


    font-weight: 300;
    color: #a6a6a6;
    font-family: mallory,"Helvetica Neue",Helvetica,Arial,sans-serif;
    cursor: pointer;
}





.menu-item ul {
  margin-top: 5px;
  list-style-type: none;
  height: 0px;
  overflow: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background:white;
  
  -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
    z-index: 100;
}

.menu-item:hover ul {
  height:25vh;
      z-index: 100;

}

.menu-item ul li div {
  width: 100%;


}




/* ///////////////////////////////////////////////////////////////////////////////////////////////    */

/* HotelSearch CSS */


 .hotel-demo-dummy-column{
  padding-left:0px;
  padding-right:0px;

 }

 .hotel-search-columns{
  padding: 0px 0px 0px 0px;
  width:100%;
  height:100%;
  margin-right: 0px;
  margin-left:0px;

 }

 .hotel-search-columns-container{
  background:#f9fbfc;
  margin-right:0px;
  margin-left:0px;

 }


 .hotel-search-container{
  width:100%;
  height:100%;
  background-color: #f9fbfc;
  height: 100vh;
 }

 .hotel-search-container-no-result{
  margin-top:4em;
  font-size:2em;
 }

 .hotel-search-date{
  padding-right:-3em;
  padding: 0 0 0 0;
  padding-left: 2px;
  font-size:1.3em;
 }
 .hotel-search-date-container-demo{

 }

 .hotel-search-date-in-demo{
    font-weight:200;
    font-size:0.9em;

 }

 .hotel-search-date-in-header-demo{

 }

 .hotel-search-date-out-demo{
      font-weight:200;
      font-size:0.9em;
 }

 .hotel-search-date-out-header-demo{

 }

 .hotel-search-header-demo{
    font-weight: 600;
    padding-bottom: .5em;
    font-size:.9em;
    font-family: BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;

 }

 .hotel-search-inputs{
  font-size:0.7em;
  font-weight:400;
  margin-bottom:0px;
  background:white;


 }

 .hotel-search-inputs-container{
  padding-top:1em;
 }

 .hotel-search-item-row{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align:center;


 }

 .hotel-search-item-address{
  font-size:0.7em;
 }
 .hotel-search-item-button{
  margin-left:1em;
  margin-bottom:5em;
  padding-left: 1em;
    padding-right: 1em;
    font-size: .7em;
  color: #fff;
    background-color: #54B2E8;
    border-color: #54B2E8;
 }

 .hotel-search-item-header{
  font-size: .9em;
  text-align:left;
 }

 .hotel-search-item-image{
  max-width:11.4em;
  max-height:14em;
  
 }

 .hotel-search-item-name{
  padding-right: 0em;
  padding-left:.4em;

 }


 .hotel-search-item-price{
  color:#d32f2f;
  font-size: 1em;
 }

 .hotel-search-item-rating{
  padding-top:0.3em;
  padding-bottom:0.3em;
  font-size:0.3em;
 }

 .hotel-search-item-rating-checked{
  color: #FEA642;
 }

 .hotel-search-first-column{
  padding-right:0px;
  min-width:12em;
  width:100%;
  height:100%;
  background: #f9fbfc;

 }

 .hotel-search-first-column-dummy{
  padding-right:0px;
  width:100%;
  height:100%;
  padding-left:0px;

 }

 .hotel-search-first-column-demo{

  margin-top:0.7em;
  background-color: white;
  padding-top:1em;
  font-size:2em;
  min-height:33rem;


 }

 hr.hotel-search-hr-top{
  margin-top: 0px;
 }

 hr.hotel-search-hr-bottom{
  margin-top:0px;
  margin-bottom: 0px;
 }

 

 .hotel-search-guest-container-demo{
  padding-top:1em;

 }

 .hotel-search-location-demo{
    font-weight:200;
 }

 .hotel-search-location-header-container-demo{
  padding-top: .5em;
  padding-bottom: 1em;
 }

 .hotel-search-row{
  border-radius:1em;
  background:white;



 }

.hotel-search-row:hover{
 transform: scale(1.05);
  -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    transition: transform .5s ease;

 }
   
 .hotel-search-map-column{

  min-height:70vh;
  height:100%;
  width:100%;
  padding-right: 0px;
  padding-left:0px;
  padding-top:1.3em;

 }

 .hotel-search-menu-item ul {
  margin-top: 5px;
  list-style-type: none;
  height: 0px;
  overflow: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background:white;
  
  -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
    z-index: 100;
}

.hotel-search-menu-item:hover ul {
  height:15vh;
      z-index: 100;

}

.menu-item ul li div {
  width: 100%;


}

 .hotel-search-results-header{
  color:black;
  background:white;
  font-size:2em;
  padding-top:.7em;
  padding-bottom:.3em;
 }

 .hotel-search-sort-container{
  padding-top:1em;
  padding-bottom:1em;
  font-size:0.9em;
 }

 .hotel-search-submit-button{

    -moz-box-shadow:    .5px .5px .5px .5px #ccc;
  -webkit-box-shadow: .5px .5px .5px .5px #ccc;
  box-shadow:         .5px .5px .5px .5px #ccc;
  
 }

 .hotel-search-table{
  width:100%;
  height:100%;
  padding-left:1em;
  padding-right:1em;
  border-spacing: 0 10px;
    border-collapse: separate;
    table-layout:fixed;
    direction:ltr;


 }

 .hotel-search-table th{
    border: 0px solid #000;
    width:50%;
    padding-top:2rem;
    padding-bottom: 2rem;
    vertical-align: middle;
 }

  .hotel-search-table td {
    padding-top:2rem;
    padding-bottom: 2rem;
    border-top: 0px solid #000;
    width:100%;

}

.hotel-search-table-demo{
  width:100%;
  height:100%;
  padding-left:1em;
  padding-right:1em;
  border-spacing: 0 10px;
  padding-top:10px;
    border-collapse: separate;
    table-layout:fixed;

 }

 .hotel-search-table-demo th{
    border: 0px solid #000;
    width:50%;
    padding-top:2rem;
    padding-bottom: 2rem;
    vertical-align: middle;
 }

  .hotel-search-table-demo td {
    padding-top:2rem;
    padding-bottom: 2rem;
    border-top: 0px solid #000;
    width:100%;

}

  .hotel-search-table-container{
    height:100%;
    width:100%;
    overflow-x:hidden;
    direction:ltr;
    max-height:65vh;
  padding-right:10px;

  }

  .hotel-search-table-container-demo{
    height:100%;
    width:100%;

    min-height:38em;
  max-height:38em;

  }

/* ///////////////////////////////////////////////////////////////////////////////////////////////    */

/* Room Page CSS */

.hr-row td{
  padding-right:0px;
  padding-left:0px;
}

.hr-row first-child{
  padding-right:0px;
  padding-left:0px;

}
.hr-row last-child{
  padding-right:15px;
  padding-left:0px;

}


.room-page-container{
  height:100vh;
  height:100%;
  background-color: #fafafa;
  padding-left:0px;
  padding-right:0px;
  margin-left:0px;
  margin-right:0px;

 }

 .room-page-date-check-wrap{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.15rem;
    padding-top:0.1vh;
    padding-bottom:0.1vh;
}

.room-page-divider{
  padding-left: 0px;
  padding-right: 0px;
  background: #fafafa;
}

.room-page-guest-container{
  margin-left:1em;
  background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.room-page-item-rating{
  padding-bottom:4vh;
}

.room-page-hotel-image{
  max-height:34rem;
  max-width:55rem;
  border-radius:2rem;

}
.room-page-hotel-container{
  background:#fafafa;
  margin-top:5vh;
}@media (max-width: 767.98px) {
    .room-page-hotel-container {
      padding-right:0px;
      padding-left:0px; } }

.room-page-hotel-image-container{
  padding-right: 0px;
  margin-right:0px;
  margin-left:0px;
  padding-right: 0px;
}


.room-page-location{
  font-size: 1.2em;
}

.room-page-promo-rooms{
  margin-top: 10vh;
  margin-bottom:6em;
  padding: 0, 0, 0, 0;
  height: 70vh;
  width: 100%;
  padding-left:0;
  padding-right:0;
  background: white;

}

.room-page-rooms{
  background:#fafafa;
  padding-top:5vh;
  padding-left:10vh;
  padding-right:10vh;
}@media (max-width: 767.98px) {
    .room-page-rooms {
      padding-right:0px;
      padding-left:0px; } }

.room-page-room-item:hover {

  transform: scale(1.05);
  -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    transition: transform .5s ease;



}

.room-page-room-price{
  font-size: 40px;
      font-weight: 400;
      color: #4586FF;

}

.room-page-room-quantity-dropdown{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-left:1vw;
    width:10vw;
}

 .room-page-search-date{
  padding-right:-3em;
  padding: 0 0 0 0;
  padding-left: 2px;
  font-size:1.3em;
  flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 31.3333%;
    margin-right:-2vw;
 }

.room-page-checkout-description{
  padding-bottom:5vh;
  padding-top:5vh;
  margin-left: 5vw;
  margin-right:5vw;
  margin-bottom:5vh;
  margin-top:2vh;
  -webkit-box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.2);
}


.room-page-checkout-description tbody tr td{
    padding-top:1.5rem;
    padding-bottom:1.5rem;

}

.room-page-checkout-description tbody{
    padding-top:1.5rem;
    padding-bottom:1.5rem;

}

.room-page-checkout-guest-information{
    padding-bottom:5vh;
  padding-top:5vh;
  margin-left: 5vw;
  margin-right:5vw;
  margin-top:5vh;
  -webkit-box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);

}

.room-page-date{
  padding-left:0;
  padding-right:0;

}


.room-page-submit-button{
  color: #fff;
    background-color: #fb0a0a;
    border-color: #f40404;
    font-size: 14px;
    letter-spacing: .2em;
    text-transform: uppercase;

}

.room-page-submit-button:hover{
  border: 2px solid #fc3c3c;
    background: transparent;
    color: #fc3c3c;
}

.room-page-verify-checkout{
  padding-bottom:3vh;
  
  color: #fc3c3c;
}

.custom-row{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}
.block-34{
  text-align:left;
}

.block-3{

}

.block-34, .block-3 {
  background: #fff;
  -webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2); }
  .block-34 .room-page-image img, .block-3 .room-page-image img {
    max-width: 100%; }
  .block-34 .text, .block-3 .text {
    padding: 30px; }
    .block-34 .text .heading, .block-3 .text .heading {
      font-size: 24px;
      font-weight: 300; }
    .block-34 .text .price, .block-3 .text .price {
      font-size: 40px; }
      .block-34 .text .price sup, .block-34 .text .price sub, .block-3 .text .price sup, .block-3 .text .price sub {
        font-size: 16px; }
      .block-34 .text .price sup, .block-3 .text .price sup {
        top: -1em; }
      .block-34 .text .price sub, .block-3 .text .price sub {
        bottom: 0em; }
    .block-34 .text .specs, .block-34 .text .specs li, .block-3 .text .specs, .block-3 .text .specs li {
      padding: 0;
      margin: 0;
      list-style: none; }
    .block-34 .text .specs li, .block-3 .text .specs li {
      color: gray;
      line-height: 1.5;
      margin-bottom: 10px; }
      .block-34 .text .specs li strong, .block-3 .text .specs li strong {
        color: #000; }

.block-3 .text, .block-3 .room-page-image {
  width: 100%;
  padding: 5% 3%; }
  @media (min-width: 768px) {
    .block-3 .text, .block-3 .room-page-image {
      width: 50%;
      padding: 5% 3%; } }

.block-3 .text .subheading {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #a3c2d1; }

.block-3 .text .heading {
  font-size: 30px;
  margin-bottom: 30px; }

.block-3 .text p:last-child {
  margin-bottom: 0; }

.block-3 .room-page-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  @media (max-width: 767.98px) {
    .block-3 .room-page-image {
      height: 300px; } }

.modify-room-page-checkout-description{
  padding-bottom:5vh;
  padding-top:5vh;
  margin-left: 5vw;
  margin-right:5vw;
  margin-bottom:5vh;
}

.modify-room-page-selected {
  margin-bottom: 1rem !important;
}

.room-card-active{
  text-align:left;
  border-bottom: 5px solid #4586FF;
}

.room-card-inactive{
  text-align:left;
}

article {
  width: 100%;
  float: center;
  margin-top: 2em;}
  article .blog-img {
    height: 400px;
    z-index: -1;
    width: 100%;
    float: left; }
  article .desc {
    padding: 0.5em;
    width: 95%;
    float: left;
    margin-top: -2em;
    z-index: 1;
    background: #fff; }
    article .desc h2 a {
      color: rgb(94, 94, 94); }
    article .desc .meta span {
      margin-right: 10px; }
      article .desc .meta span a {
        color: #cccccc; }

.block-44, .block-4 {
  background: #fff;}
  .block-44 .room-page-image img, .block-4 .room-page-image img {
    min-width: 100%;
    max-width: 100%;
    min-height: 38vh;
    max-height: 38vh; }
  .block-44 .text, .block-4 .text {
    padding: 30px; }
    .block-44 .text .heading, .block-4 .text .heading {
      font-size: 24px;
      font-weight: 300; }
    .block-44 .text .price, .block-4 .text .price {
      font-size: 40px; }
      .block-44 .text .price sup, .block-44 .text .price sub, .block-4 .text .price sup, .block-4 .text .price sub {
        font-size: 16px; }
      .block-44 .text .price sup, .block-4 .text .price sup {
        top: -1em; }
      .block-44 .text .price sub, .block-4 .text .price sub {
        bottom: 0em; }
    .block-44 .text .specs, .block-44 .text .specs li, .block-4 .text .specs, .block-4 .text .specs li {
      padding: 0;
      margin: 0;
      list-style: none; }
    .block-44 .text .specs li, .block-4 .text .specs li {
      color: gray;
      line-height: 1.5;
      margin-bottom: 10px; }
      .block-44 .text .specs li strong, .block-4 .text .specs li strong {
        color: #000; }

.block-4 .text, .block-4 .room-page-image {
  width: 100%;
  padding: 5% 3%; }
  @media (min-width: 768px) {
    .block-4 .text, .block-4 .room-page-image {
      width: 50%;
      padding: 5% 3%; } }

.block-4 .text .subheading {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #a3c2d1; }

.block-4 .text .heading {
  font-size: 30px;
  margin-bottom: 30px; }

.block-4 .text p:last-child {
  margin-bottom: 0; }

.block-4 .room-page-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  @media (max-width: 767.98px) {
    .block-4 .room-page-image {
      height: 300px; } }
/* ///////////////////////////////////////////////////////////////////////////////////////////////    */

/* Confirmation Page CSS */

.confirmation-container{
  padding-top:17vh;
}

.confirmation-message{
  background: white;
  color:black;
  font-weight:300;
}

.confirmation-message-header{
  padding-top:10vh;
  padding-bottom:10vh;
  color:white;
  background: rgb(65,161,100);
  background: linear-gradient(180deg, rgba(65,161,100,1) 0%, rgba(23,148,68,1) 24%, rgba(37,133,72,0.9948354341736695) 61%, rgba(43,143,80,0.9948354341736695) 87%);
  font-size:.5em;
}

.confirmation-message-icon{
  font-size:2em;
  padding-bottom: 2vh;
}

.confirmation-message-footer{
  padding-left:5vw;
  padding-right:5vw;
  padding-top:5vh;
  padding-bottom:2vh;
  font-size:.3em;
  font-weight:400;

}

.confirmation-message-header-sub{
  font-size: .5em;
}

.confirmation-submit-button{
  color: #fff;
    background-color: #24aaf2;
    border-color: #24aaf2;
    font-size: 14px;
    letter-spacing: .2em;
    text-transform: uppercase;

}

.confirmation-submit-button:hover{
  border: 2px solid #24aaf2;
    background: transparent;
    color: #24aaf2;
}

.input-labels {
  z-index: 0;
}