//- https://stackoverflow.com/questions/39489229/pass-variable-to-html-template-in-nodemailer

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        p Thank you for booking with us!

        h2 Booking # #{transaction_number}
        h6 #{date}

        p Booking Confirmation

        


