.DateInput_input{
	width:7em;
}

.DateInput_input_1{
	
}

.DateRangePickerInput{
	padding-top:.4em;
	padding-bottom:.4em;
	padding-left: 1em;
	padding-right:2.3em;
	border:none;
	    color: #a6a6a6;


}

.DateRangePickerInput_1{


}