.DateInput_input{
}

.DateInput_input_1{
	
}

.DateRangePickerInput{
	padding-top:0em;
	padding-bottom:0em;
	padding-left: 0em;
	padding-right:0em;
	border:none;
	    color: #a6a6a6;

}

.DateRangePickerInput_1{


}