.reservations-container {
	padding:0;
  	margin:0;
  	height:100%;
  	width:100%;
}

.reservations-form-container {
	height:100%;
  	width:100%;
  	min-height:41.6rem;
}

.reservations-scrollbar {
	position: relative;
	height:375px;
	overflow: auto;
}

.reservations-table-wrapper-scroll-y {
	display: block;
}

.reservations-table-header { /* for later note: static top row */
	position: sticky;
}

.reservations-card {
	background: #ffffff;
	padding-top: 30px;
	transition: all 200ms ease;
	height: 520px;
	padding-bottom: 50px;
}

.reservations-card-body {
	padding-left: 80px;
}

.reservations-center-title {
	text-align: center;
	padding-bottom: 5px;
}

.reservations-inner-card {
	margin-left: -40px;
	margin-right: 40px;
}
